$container-width: 800px;
$main-offset: 30px;

$notify-color: red;

/* bootstrap media queries 
@media (min-width: 1200px) 
@media (min-width: 768px)
@media (min-width: 992px)
*/


.vertical-middle {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}



// 768 -- 771 hay prob
@media (min-width: 768px) {
	.container{ max-width: 760px; }
}

@media (min-width: 992px) {
	.container { max-width: 990px; }
}

@media (min-width: 1200px) {
	.container { max-width: 1100px; }
}

.main {
	padding-top: $main-offset;
}



$search-height: 34px;
$half-sh: $search-height / 2.0;
.search-bar {
	width: 300px;
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
	margin-top: 11px;

	.input-group {
		input:first-child {
			border-bottom-left-radius: $half-sh;
			border-top-left-radius: $half-sh;
		}
	}

	.search-select {
		width: initial;
		border-radius: 0;
		padding: 1px;
		width: 70px;
	}

	button { 
		left: -4px;
		border-bottom-right-radius: $half-sh;
		border-top-right-radius: $half-sh;
	}

}


.nav.navbar-nav {
	> li > a {
		font-size: 20px;
		.badge {
			background-color: $notify-color;
			position: absolute;
			top: 7px;
			left: 28px;
			border-radius: 4px;
			padding: 3px;
		}

	}

	// special element, user profile
	.user-navbar {
		> a {
			padding-top: 10px;
			padding-bottom: 10px;
			> img { 
				width: 35px;
				margin-right: 7px;
			}

			font-size: 17px;
		}

		> a.active {
			background-color: #222222;
			color: #ffffff;
		}

		&:hover {
			> ul.dropdown-menu { display: block; }
			>a {
				background-color: #222222;
				color: #ffffff;
			}
		}
	}
}

.jumbotron {
	padding: 10px 20px;

	h1 { font-size: 40px; margin: 10px 0; }
}

.tabs-main {
	margin-top: 30px;
}