{%comment %}
personas[i][name]
personas[i][id]
variable.left
variable.right
variable.values
{%endcomment %}
<div class="cooper-var clearfix">
    {% assign dirs = 'left,right' | split:',' %}
    {% for dir in dirs %}{%capture reversed %}{% if dir == 'left' %}right{%else%}left{%endif%}{%endcapture%}
    <div class="btn btn-default {{dir}}-text text" data-toggle="popover" data-trigger="hover" title="Descripción de la variable" data-content="{{variable.description}}" data-placement="auto {{reversed}}"><div>{{variable | map:dir}}</div></div>
    {% endfor %}

    <div class="progress-wrapper">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 100%;">
          </div>
        </div>

        {% for value in variable.values %}
            {% for p in personas %} {% if p.id == value[0] %}
                {% assign persona_idx = forloop.index %}
                {% assign persona =  p %}
            {%endif %} {% endfor %}
        {% if persona.url %}<a href="{{persona.url}}">{%endif%}
        <div class="btn btn-default persona persona-{{persona_idx}}" title="{{persona.name}}" style="left:{{value[1]}};" data-toggle="tooltip" data-placement="top">
        </div>
        {% if persona.url %}</a>{%endif%}
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>
