<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- For smooth scroolling in toc -->
<script src="assets/js/jquery.smooth-scroll.js"/></script>

<script type="text/javascript">
    $("#markdown-toc a").smoothScroll();
</script>
