{% comment %}
This template generates cards for the elements in a folder

:param: panel_show_folder The folder name (just the name) where to search
{% endcomment %}

<div class="container-fluid skelleton-container">
{% for page in site.pages %}
 {% assign url_array = page.url | split: "/" %}
 {% if  url_array contains panel_show_folder %}
  <div class="col-sm-6">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">
                  <a href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a>
              </h3>
          </div>
          <div class="panel-body">
              <div>
                  {{page.excerpt}}
              </div>
          </div>
          <div class="skelleton-content" style="display:none;">
                {{page.content}}
          </div>
      </div>
  </div>
 {% endif %}
{% endfor %}
</div>
