{% comment %}
This template generates cards for the elements in a folder

:param: panel_show_folder The folder name (just the name) where to search
{% endcomment %}

<div class="container-fluid skelleton-container">
{% for page in site.pages %}
 {% assign url_array = page.url | split: "/" %}
 {% if  url_array contains include.panel_show_folder %}
  <div class="col-sm-6">
      <div class="panel
          {% if page.type == 'primary' %}panel-primary
          {% elsif page.type == 'secondary' %}panel-info
          {% else %}panel-default{% endif %}"
          >
          <div class="panel-heading">
              <h3 class="panel-title">
                  <a href="javascript: void(0)" id="{{page.id}}">{{ page.title }}</a>
              </h3>
          </div>
          <div class="panel-body">
                {{page.content}}
          </div>
      </div>
  </div>
 {% endif %}
{% endfor %}
</div>
