---
---
$nstrips: 9;
$bgsize: 50px;
$bgbgcolor: white;
$bgfgcolor: #BEBEBE;
$stripsize: 5px;
$stripcolor: rgba(0,0,0,0.1);
$body_wdith: 45em;
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

body .markdown-body {
  max-width: 45em;
  padding: 30px;
}

body {
    $ssize: 100% / (2 * $nstrips + 2);
    $fgloopcolor: transparent;
    $bgloopcolor: $stripcolor;
    $i: 0%;
    $res: "";
    @while $i <= 100%  {
        @if $i == 0% or $i+ $ssize / 2 == 100% {
            $res: $res + "#{$fgloopcolor} #{$i}, #{$bgloopcolor} #{$i+$ssize / 2}";
            @if $i == 0% { $res: $res + ","; }
            $i: $i+ $ssize / 2;
        }
        @else {
            $res: $res + "#{$fgloopcolor} #{$i}, #{$bgloopcolor} #{$i+$ssize},";
            $i: $i+ $ssize;
        }

        @if $i == 100% {
            background-image: linear-gradient(45deg, #{$res});
        }


        $swap: $fgloopcolor;
        $fgloopcolor: $bgloopcolor;
        $bgloopcolor: $swap;
    }

    background-color: $bgbgcolor;
    background-size: $bgsize $bgsize;
}


// General style
p { text-align: justify; }

@mixin image-style() {
    display:block;
    text-align:center;
    margin: 0 auto;
    max-width: 34em!important;
}

.markdown-body {
    a.thumbnail {
        @include image-style();
    }

    :not(a.thumbnail) > img {
        @include image-style();
    }
}



.panel{
    border-width: 2px;
}


.panel-default {
    border-color: $bgfgcolor;
}

@for $counter from 1 through 2  {
    .markdown-body h#{$counter} {
        border-bottom: 1px solid $bgfgcolor;
    }
}

// reset link styles in panels
.skelleton-container .panel a { color:inherit; }

// skelleton and persona panel container
.skelleton-container {
    .panel { padding: 0; }
    h3 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }
}

// markdown toc overrides
.markdown-toc-wrapper{
    position: relative;

    .markdown-toc-toggle {
        position: absolute;
        right: 0px;
    }
}


// modal image preview

@media (min-width: 768px) {
    #image-preview {
        .modal-dialog {
            width: inherit;
            max-width: 2 * $body_wdith;
            display: table;
        }
    }
}


// cooper vars
.cooper-var {
    position: relative;
    margin-bottom: 10px;

    @mixin cooper-text($pos, $rpos) {
        .#{$pos}-text {
            /*position: absolute;
            #{$pos}: 0px;*/
            float: #{$pos};
            border-top-#{$rpos}-radius: 0px;
            border-bottom-#{$rpos}-radius: 0px;
        }
    }

    @include cooper-text('left','right');
    @include cooper-text('right','left');

    .progress {
        margin-bottom: 0px;
        border-radius: 0px;
    }

    .progress-bar {
        background-color: $bgfgcolor;
    }

    .text {
        width: 100px;
        white-space: inherit;
        padding: 4px 10px;
        border-color: $bgfgcolor;
    }
}
