body {
    padding-top: 20px;
    padding-bottom: 20px;
}

body .markdown-body
{
  max-width: 45em;
  padding: 30px;
}

.skelleton-container .panel {
    padding: 0;
}

.skelleton-container h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
