<!DOCTYPE html>
<html lang="en">
  <head>
      {% include header.html %}
  </head>

  <body data-spy="scroll" data-target=".sidebar-offcanvas">
      <div class="container">
	  <div class="row row-offcanvas row-offcanvas-right">
	      <div class ="offcanvas-toggle visible-xs col-xs-12">
		  <div class="col-xs-6 col-xs-offset-6">
		      <button type="button" class="btn btn-primary btn-sm" 
			      data-toggle="offcanvas">
			  <span class="glyphicon glyphicon-menu-hamburger">	  
			  </span>
		      </button>
		  </div>
	      </div>
	      <div class="col-xs-12 col-sm-9 panel-wrapper">
		  <div class="panel container-fluid main-panel">
		      <div class="panel-heading">
			  <div class="panel-title main-title">
			      <img src="{{site.baseurl}}/assets/img/cygnus-white.png">
			      Cygnus
			      
			  </div>
		      </div>

		      <div class="markdown-body">
		      {{ content }}
		      </div>
		  </div>
	      </div>
	      <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
		  <div class="nav nav-tabs toc-wrapper" role="tablist">
		      
		      <a href="#0" class="back-to-top">Al principio</a>
		  </div>
	      </div>
	  </div>
      </div>

    {% include footer.html %}
  </body>
</html>
